@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

body {
  background-color: #FFF;
}

.main-content {
  z-index: 1000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.float .my-float {
  margin-top: 16px;
}

/* Estilos para el botón de hamburguesa */
.nav-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 20px;
}

/* Estilos para el menú en dispositivos móviles */
@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
    z-index: 20000;
  }
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 100%;
    top: 50px;
    left: 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 20050;
  }
  .nav-menu li {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
}
nav {
  width: 100%;
  height: 50px;
  background-color: #FFF;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 10000;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  list-style: none;
  color: black;
  text-decoration: none;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  top: 0;
}
nav ul li {
  list-style: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  margin: 0 1rem;
  color: black;
}
nav ul li a:hover {
  transform: scale(1.1);
  color: lightblue;
  border-bottom: 2px solid lightblue;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-left: auto;
  padding-right: 5px;
  z-index: 3;
  position: absolute;
  top: 5px;
  right: 10px;
  flex-direction: column;
}
.button-container:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .button-container {
    position: absolute;
    right: auto;
    top: 10px;
    left: 10px;
    justify-content: flex-end;
  }
  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  .nav-toggle {
    display: block;
  }
  .nav-toggle.active + .nav-menu {
    display: flex;
  }
  #nav-toggle {
    z-index: 4;
  }
}
@media screen and (min-width: 769px) {
  .button-container {
    position: absolute;
    right: 1px;
    top: 1px;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }
  .dark-mode-toggle, .btn-primary {
    width: auto;
    margin: 0;
  }
  .dark-mode-toggle {
    padding: 10px 20px;
    font-size: 0.5rem;
  }
  .btn-primary {
    padding: 10px 20px;
    font-size: 0.5rem;
  }
  .btn-primary span {
    margin-left: 5px;
  }
  .shopping-cart .btn-primary {
    padding-right: 1px;
    top: 10px;
  }
}
.btn-primary {
  background-color: #444;
  color: white;
  padding: 5px 10px;
  border: none;
  margin-right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  top: 5px;
  right: 10px;
  box-shadow: none;
  font-size: 0.8rem;
}
.btn-primary:hover {
  background-color: #666;
  cursor: pointer;
}

/* estilos del footer */
footer {
  background-color: lightblue;
  padding: 50px 0;
  z-index: 10;
  display: block;
  text-align: center;
}
footer .redes {
  font-size: 18px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
footer .redes img {
  width: 2rem;
  margin-right: 4rem;
}
footer .copy {
  font-size: 16px;
  margin-left: auto;
}
footer .Creador {
  color: #ff4500;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.2em;
}

/* Estilos para el index */
/* Estilos para las imágenes de fondo y los párrafos */
.indeximg {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.container_index {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
  /* Ajustes para responsividad */
  /* Ajustes adicionales para pantallas aún más pequeñas */
  /* Ajustes adicionales para pantallas aún más pequeñas */
}
@media screen and (max-width: 768px) {
  .container_index {
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .container_index {
    width: 70%;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .container_index {
    font-size: 1.5rem;
    flex-direction: column;
  }
}

.presentacion {
  width: 400px;
  text-align: center;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
  flex-direction: column;
}
.presentacion .indeximg {
  width: 50%;
  height: auto;
  margin: 1rem auto;
}
.presentacion p {
  margin-bottom: 1rem;
}
.presentacion h1 {
  margin-top: 1rem;
  font-size: 2em;
}

/* Estilos para html Salon */
h1 {
  margin: 100px 0 30px 0;
  text-align: center;
}

.containerSalon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.salonItem {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  border: 2px solid black;
  width: 100%;
}
.salonItem .h2Salon {
  margin-bottom: 20px;
}
.salonItem .salonItemVideo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.salonItem .videoWrapper {
  padding-bottom: 56.25%;
}
.salonItem .videoWrapper iframe {
  width: 100%;
  height: 100%;
}
.salonItem img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 15px;
  width: 100%;
}
.salonItem p {
  font-size: 16px;
  line-height: 24px;
  color: #9b9b9b;
  width: 100%;
  margin: 15px auto;
}
@media screen and (min-width: 1200px) {
  .salonItem {
    width: 30%;
  }
}

/* Estilos para la sección de insumos */
.container-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.container-menu div {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  max-width: 300px;
  margin: auto;
}
.container-menu div img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Estilos para Packs */
@media screen and (max-width: 768px) {
  .packs {
    text-align: center;
  }
}

.packs-title {
  margin-top: 2em;
}

.card {
  margin-bottom: 20px;
  margin-top: 3em;
}

/* Estilos para la sección de contacto */
.contacto {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .contacto {
    margin-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .contacto {
    margin-top: 30px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 550px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #f3ecec;
  color: #fff;
  border: 1px solid #000000;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.form .title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #44878f;
}
.form .title::before, .form .title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #44878f;
}
.form .title::before {
  width: 18px;
  height: 18px;
}
.form .title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}
.form .message,
.form .signin {
  font-size: 14.5px;
  color: rgba(0, 0, 0, 0.7);
}
.form .message.signin,
.form .signin.signin {
  text-align: center;
}
.form .message.signin a:hover,
.form .signin.signin a:hover {
  text-decoration: underline royalblue;
}
.form .message.signin a,
.form .signin.signin a {
  color: #00bfff;
}
.form .flex {
  display: flex;
  width: 100%;
  gap: 6px;
}
.form label {
  position: relative;
}
.form label .input, .form label textarea {
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  padding: 20px 5px 5px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  resize: none;
}
.form label .input + span, .form label textarea + span {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
.form label .input:placeholder-shown + span, .form label textarea:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}
.form label .input:focus + span, .form label .input:valid + span, .form label textarea:focus + span, .form label textarea:valid + span {
  color: #44878f;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}
.form .input {
  font-size: medium;
}
.form .submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #44878f;
}
.form .submit:hover {
  background-color: #44878f;
}
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.container-maps {
  width: 100%;
}
.container-maps .ubicacion {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.shopping-cart {
  position: fixed;
  right: 0px;
  top: 20px;
  color: #FFF;
  background-color: white;
  font-size: 0.5rem;
  z-index: 1;
}
.shopping-cart #cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
  vertical-align: top;
  margin-left: 1px;
}

.item-quantity {
  width: 60px;
  padding: 0 5px;
  text-align: center;
}

.cart-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1002;
}
.cart-modal .cart-content {
  background: rgb(24, 118, 226);
  padding: 20px;
  border-radius: 10px;
  width: auto;
  max-width: 600px;
  max-height: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: auto;
}
@media (max-width: 768px) {
  .cart-modal .cart-content {
    max-width: 80%;
  }
}
@media (max-width: 480px) {
  .cart-modal .cart-content {
    max-width: 95%;
    padding: 10px;
    border-radius: 0;
  }
}
@media (max-width: 480px) {
  .cart-modal .remove-btn, .cart-modal .close-btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}

.close-btn {
  align-self: flex-end;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 5px;
}
.close-btn:hover {
  background-color: #c0392b;
}

ul#modal-cart-items {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
}
ul#modal-cart-items li {
  background: #120ee6;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  ul#modal-cart-items li {
    flex-direction: column;
    align-items: flex-start;
  }
}

button.remove-btn {
  padding: 5px 10px;
  background-color: #ff0505;
  color: rgb(255, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button.remove-btn:hover {
  background-color: #c0392b;
}

.cart-total {
  font-weight: bold;
  font-size: 1.2rem;
}

.dark-mode {
  background-color: #343a40;
  color: #ffffff;
}
.dark-mode .container-menu div {
  background-color: #333;
  color: #fff;
}
.dark-mode .container-menu div p, .dark-mode .container-menu div a {
  color: #ecf0f1;
}
.dark-mode nav,
.dark-mode footer {
  background-color: #34495e;
}
.dark-mode .card {
  background-color: #333;
  color: #fff;
}
.dark-mode .card .card-title,
.dark-mode .card .card-text {
  color: #ffffff;
}
.dark-mode .nav-menu li a {
  color: #ecf0f1;
}
.dark-mode .presentacion p {
  color: #bdc3c7;
}
.dark-mode .shopping-cart {
  background-color: #34495e;
}
.dark-mode .cart-modal {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
}
.dark-mode ul#modal-cart-items li {
  background: #000000;
}
.dark-mode .cart-content {
  background: #34495e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dark-mode nav {
  background-color: #34495e;
}
@media (max-width: 768px) {
  .dark-mode nav .nav-menu {
    background-color: #34495e;
  }
}

.dark-mode-toggle {
  background-color: #444;
  color: white;
  padding: 5px 10px;
  border: none;
  outline: none;
  margin-right: 0;
  display: inline-block;
  box-shadow: none;
  font-size: 0.8rem;
}
.dark-mode-toggle:hover {
  background-color: #666;
}

@media screen and (max-width: 768px) {
  .dark-mode-toggle {
    margin-right: 20px;
    font-size: 16px;
    margin-top: 10px;
  }
  .shopping-cart {
    margin-right: 180px;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
