// estilos para el modo oscuro

.dark-mode {
  background-color: #343a40;
  color: #ffffff;

  .container-menu div {
    background-color: #333;
    color: #fff; 

    p, a {
      color: #ecf0f1;
    }}

  nav,
  footer {
    background-color: #34495e;
  }

  .card {
    background-color: #333;
    color: #fff;

    .card-title,
    .card-text {
      color: #ffffff;
    }
  }

  .nav-menu li a {
    color: #ecf0f1;
  }

  .presentacion p {
    color: #bdc3c7;
  }
  .shopping-cart{
    background-color: #34495e;
  }
  .cart-modal {
     background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
  }
  ul#modal-cart-items li {
    background: #000000;
  }
  .cart-content {
    background: #34495e;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  nav {
    background-color: #34495e;

    @media (max-width: 768px) {
      .nav-menu {
        background-color: #34495e;
      }
    }
  }
}



.dark-mode-toggle {
  background-color: #444;
  color: white;
  padding: 5px 10px;
  border: none;
  outline: none;
  margin-right: 0;
  display: inline-block;
  box-shadow: none;
  font-size: 0.8rem;

  &:hover {
      background-color: #666;
  }
}

