/* Estilos para Packs */

.packs {
  
    // Ajustes para responsividad
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
  .packs-title{
    margin-top: 2em;
  }
  
  .card{
    margin-bottom: 20px;
    margin-top: 3em;
  }