// Colores
$color-primario: #25d366;
$color-fondo: #FFF;
$color-sombra: rgba(0, 0, 0, 0.1);
$color-texto: black;
$color-hover: lightblue;

// Fuentes
$fuente-principal: 'Libre Baskerville', serif;

// Tamaños
$tamano-botones: 60px;
$tamano-h1: 2.5em;
$tamano-h2: 2em;
$tamano-h3: 1.5em;
